@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.1rem;
}

body {
    width: 100vw;
}

nav #title {
    color: #a00;
    font-weight: 800;
}

nav a {
    color: black;
    text-decoration: none;
}

#restaurantsList article p {
    font-weight: 800;
    font-size: 1.2rem;
}